<% @announcements.map! do |a|
    room_names = a.room_names
    {
        payment: a.payments.first.present? ? link_to("$#{a.payments.first.amount}", money_transfer_path(a.payments.first.money_transfer_id)) : 'N/A',
        seller: a.seller,
        buyer: a.buyer,
        room_names_link: link_to(room_names.any? ? room_names.join(', ') : 'No rooms found', a),
        name: a.name,
        created_at: a.created_at
    }
end %>

<%= javascript_tag do %>
    var announcementsData = <%= @announcements.to_json.html_safe %>;

    $(document).ready(function() {
        setupDataTable({
            aaData: announcementsData,
            aaSorting: [[4, 'desc']],
<% if can? :create, Announcement %>
            buttonHtml: '<%=j link_to "Add announcement", new_announcement_path, class: "btn" %>',
<% end %>
            aoColumns: [
                {
                    mData: "seller",
                    mRender: renderers.user,
                    sWidth: "10%"
                }, {
                    mData: "buyer",
                    mRender: renderers.user,
                    sWidth: "20%"
                }, {
                    mData: "room_names_link",
                    sWidth: "55%"
                }, {
                    mData: "payment",
                    sWidth: "5%"
                }, {
                    mData: "created_at",
                    mRender: renderers.date,
                    sWidth: "10%"
                },
            ]
        });
    });
<% end %>
<table id="announcements" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><%=t 'Owner' %></th>
      <th><%=t 'Initiator' %></th>
      <th><%=t 'Rooms' %></th>
      <th><%=t 'Payment' %></th>
      <th><%=t 'Created at' %></th>
    </tr>
  </thead>
  </tbody>
</table>
