<% @announcements.map! do |a|
    room_names = a.room_names
    {
        payment: (link_to("$#{a.payments.first.amount}", money_transfer_path(a.payments.first.money_transfer_id)) if a.payments.first.present?),
        amount: a.payments.first.amount,
        seller: a.seller,
        buyer: a.buyer,
        room_names_link: room_names.length > 0 ? link_to(room_names.join(', '), announcement_path(a)) : link_to('no rooms found', announcement_path(a)),
        name: a.name,
        created_at: a.created_at
    }
end %>

<%= javascript_tag do %>
    var announcementsData = <%= @announcements.to_json.html_safe %>;

    $(document).ready(function() {
        setupDataTable({
            aaData: announcementsData,
            aaSorting: [[4, 'desc']],
<% if can? :create, Announcement %>
            buttonHtml: '<%=j link_to "Add announcement", new_announcement_path, class: "btn" %>',
<% end %>
            aoColumns: [
                {
                    mData: "seller",
                    mRender: renderers.user,
                    sWidth: "10%"
                }, {
                    mData: "buyer",
                    mRender: renderers.user,
                    sWidth: "20%"
                }, {
                    mData: "room_names_link",
                    sWidth: "55%"
                }, {
                    mData: null,
                    sType: "numeric",
                    mRender: function(data, type, row) {
                        if (row.amount || row.amount === 0) {
                            return type == "display" ? row.payment : row.amount;
                        } else {
                            return type == "display" ? "N/A" : -1;
                        }
                    },
                    sWidth: "5%"
                }, {
                    mData: "created_at",
                    mRender: renderers.date,
                    sWidth: "10%"
                },
            ]
        });
    });
<% end %>
<table id="announcements" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><%=t 'Owner' %></th>
      <th><%=t 'Initiator' %></th>
      <th><%=t 'Rooms' %></th>
      <th><%=t 'Payment' %></th>
      <th><%=t 'Created at' %></th>
    </tr>
  </thead>
  </tbody>
</table>
