<div id="orders_chart" style="width: 80%; float: left"></div>
<div id="orders_chart2" style="width: 240px; float: right"></div>

<% table_data = @income.to_a
   grouped_data = table_data.group_by { |arr| [arr[0].year, arr[0].month] }
   table2_data = []
   grouped_data.map do |key, value|
    if value.size > 1
      amount_sum = 0
      value.each { |v| amount_sum += v[1] }
      # In order to keep correct month through all the time zones, set
      # day to 15 (in DateTime.new)
      table2_data.push([DateTime.new(key[0], key[1], 15), amount_sum])
    end
   end
%>

<%= javascript_include_tag "http://www.google.com/jsapi" %>
<%= javascript_tag defer: 'defer' do -%>

  google.load('visualization', '1.1', {'packages': ['annotationchart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var table = new google.visualization.DataTable();
    table.addColumn('date', 'Date');
    table.addColumn('number', 'Amount');
    table.addRows([
      <% table_data.map do |date, amount| %>
          [new Date('<%= date %>'), <%= amount %>],
      <% end %>
    ]);

    var chart = new google.visualization.AnnotationChart(document.getElementById('orders_chart'));
    chart.draw(table);

    var table2 = new google.visualization.DataTable();
    table2.addColumn('date', 'Date');
    table2.addColumn('number', 'Sum');

    // Create rows for the second table
    var table2Rows = [];

    // Make the date object with amount of seconds since 1970
    var d;
    <% table2_data.map do |date, amount| %>
      d = new Date(0);
      d.setUTCSeconds(<%= date.to_i %>);
      table2Rows.push([d, <%= amount %>]);
    <% end %>
    table2.addRows(table2Rows);

    var formatter = new google.visualization.DateFormat({pattern: "yyyy/MMM"});
    formatter.format(table2, 0);

    var chart2 = new google.visualization.Table(document.getElementById('orders_chart2'));
    chart2.draw(table2);
  }
<% end -%>
