<div id="orders_chart" style="width: 100%;"></div>

<%= javascript_include_tag "http://www.google.com/jsapi" %>
<%= javascript_tag defer: 'defer' do -%>

  google.load('visualization', '1.1', {'packages': ['annotationchart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Amount');
    data.addRows([
      <% @income.to_a.map do |date, amount| %>
          [new Date('<%= date %>'), <%= amount %>],
      <% end %>
    ]);

    var chart = new google.visualization.AnnotationChart(document.getElementById('orders_chart'));
    chart.draw(data);
  }
<% end -%>

<%= javascript_tag do -%>
  <% @income.to_a.each do |a| %>
    console.log(new Date('<%= a[0] %>'));
  <% end %>
<% end -%>
