<%= javascript_tag do %>
	var activityData = <%= @public_activity.to_json.html_safe %>;
<% end %>
<table id="public_activities" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><%=t 'Operation type' %></th>
      <th><%=t 'Model type' %></th>
      <th><%=t 'Model text' %></th>
      <th><%=t 'Owner' %></th>
      <th><%=t 'Date' %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
