<% if @result %>
	<p>Result of <%= params[:operation] %> of <%= params[:server].inspect %> is: <%= @result %>.</p>
<% end %>

<%= form_tag(ejabberd_s2s_path) do %>
	<p>VHost: <%= Ejabberd::DEFAULT_VHOST %></p>
	<p>Server: <%= text_field_tag 'server', params[:server] %></p>

	<p>
	<%= submit_tag 'query', name: 'operation', class: 'btn btn' %>
	<%= submit_tag 'allow', name: 'operation', class: 'btn btn-success' %>
	<%= submit_tag 'deny', name: 'operation', class: 'btn btn-danger' %>
	<%= submit_tag 'delete', name: 'operation', class: 'btn btn-inverse' %>
	</p>
<% end %>

<p>Current filter settings:<p>
<p class='<%= @default_policy %>'>Default policy: <%= @default_policy %>.</p>
<p><%= link_to 'Remove entries matching default policy', ejabberd_s2s_cleanup_path, class: 'btn' %></p>
<ul>
	<% @actions.each do |action| %>
		<li class='<%= action['action'] %>'><%= action['server'] %>: <%= action['action'] %></li>
	<% end %>
</ul>

