<%= simple_form_for @money_transfer, html: { class: 'form-horizontal' } do |f| %>
	<%= f.input :sender, readonly: !!@money_transfer.sender, input_html: { class: 'typeahead-user' } %>
	<%= f.input :receiver, readonly: !!@money_transfer.receiver, input_html: { class: 'typeahead-user' } %>
	<%= f.input :amount %>
	<%= f.input :received_at, input_html: { class: 'date' }, as: :string %>
	<%= f.input :comment, input_html: { rows: 4 } %>

	<%= field_set_tag 'Payments' do %>
		<%= f.simple_fields_for :payments do |p| %>
			<p><%= link_to "#{p.object.contract.name} (paid until #{p.object.contract.next_payment_date.try(:to_date) || 'never'})", p.object.contract %></p>
			<%= p.input :amount %>
			<%= p.input :effective_months, label: 'Months' %>
			<%= p.simple_fields_for :contract do |c| %>
				<%# we keep it here for id, is there a better way? %>
			<% end %>
		<% end %>
	<% end %>

	<%= f.submit class: 'btn btn-primary controls' %>
<% end %>
