<%= simple_form_for @money_transfer, html: { class: 'form-horizontal' } do |f| %>
	<%= f.input :sender, readonly: !!@money_transfer.sender, input_html: { class: 'typeahead-user' } %>
	<%= f.input :receiver, readonly: !!@money_transfer.receiver, input_html: { class: 'typeahead-user' } %>
	<%= f.input :amount, input_html: { class: 'amount-usd' } %>
	<%= f.input :received_at, label: 'Received at', input_html: { class: 'date' }, as: :string %>
	<%= f.input :comment %>

	<%= field_set_tag 'Payments' do %>
		<%= f.simple_fields_for :payments do |p| %>
			<p><%= "#{p.object.contract.name} (paid until #{p.object.contract.next_payment_date.to_date})" %></p>
			<%= p.input :amount, input_html: { class: 'amount-usd' } %>
			<%= p.simple_fields_for :contract do |c| %>
				<%= c.input :duration_months, label: 'Months' %>
			<% end %>
		<% end %>
	<% end %>

	<%= f.submit class: 'btn btn-primary controls' %>
<% end %>
