<pre>
Money transfer:
	From:    <%= link_to *([@money_transfer.sender]*2) %>
	To:      <%= link_to *([@money_transfer.receiver]*2) %>
	Date:    <%= @money_transfer.received_at.to_date %>
	Amount:  $<%= @money_transfer.amount %>
	Comment: <%= @money_transfer.comment || '(no comment)' %>
</pre>

<%= link_to 'Edit this money transfer', edit_money_transfer_path(@money_transfer), class: 'btn' %>

<% if @money_transfer.payments.any? %>
	<br/>Payments:
	<ul>
	<% @money_transfer.payments.each do |p| %>
		<li><%= link_to p, p.contract %></li>
	<% end %>
	</ul>
<% end %>
