<pre>
Money transfer:
	From:    <%= link_to *([@money_transfer.sender]*2) %>
	To:      <%= link_to *([@money_transfer.receiver]*2) %>
	Date:    <%= @money_transfer.received_at.to_date %>
	Amount:  $<%= @money_transfer.amount %>
	Comment: <%= @money_transfer.comment || '(no comment)' %>
	Created: <%= @money_transfer.created_at %>
	Updated: <%= @money_transfer.updated_at %>
</pre>

<% if @money_transfer.readonly? %>
	<p>You cannot edit this money transfer because one or more of it's payments have a successor (marked with *)</p>
<% else %>
	<%= link_to 'Edit this money transfer', edit_money_transfer_path(@money_transfer), class: 'btn' %>
<% end %>

<% if @money_transfer.payments.any? %>
	<br/>Payments:
	<ul>
	<% @money_transfer.payments.each do |p| %>
		<li><%= link_to p, p.contract %> <%= '*' if p.has_successor? %></li>
	<% end %>
	</ul>
<% else %>
	No payments in this money transfer
<% end %>

<br/>Changes:
<ul>
	<% @money_transfer.audits.each do |a| %>
		<li>(<%= a.user.try(:name) %>) <%= a.action %> <%= a.audited_changes.inspect %></li>
	<% end %>
</ul>
