<%= javascript_tag do %>
	<% json_time = Benchmark.measure do %>
	var roomsData = <%=
	@rooms.map { |room|
		mapped = {}
		%w(buyer seller).each do |subject_type|
			subject = room.public_send subject_type
			mapped[subject_type] = {
				name: subject.name,
				role: subject.role,
				jid: subject.jid,
				id: subject.id,
			}
		end
		last_payment = Hash[%w(amount effective_from effective_months money_transfer_id).map do |last_payment_attribute|
			[last_payment_attribute, room.last_payment.public_send(last_payment_attribute)]
		end]
		mapped[:last_payment] = last_payment

		%w(occupants_number last_message_at next_payment_date short_name active).each do |attr|
			mapped[attr] = room.public_send(attr)
		end

		mapped
	}.to_json.html_safe %>;
	<% end
	   logger.info("Benchmarking to_json: #{json_time}")
	%>

	$(document).ready(function() {
	    setupDataTable({
            aaData: roomsData,
            aaSorting: [[6, 'asc']],
            fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var cls = renderers.roomClass(aData.next_payment_date, aData.active);

                if (cls) {
                    $(nRow).addClass(cls + '_row');
                }
            },
<% if can? :create, Room %>
            buttonHtml: '<%=j link_to "Add room", new_room_path, class: "btn" %>',
<% end %>
            aoColumns: [{
                    mData: null,
                    mRender: renderers.roomShortName,
                    sWidth: "15%"
                }, {
                    mData: 'buyer',
                    mRender: renderers.user,
                    sWidth: "25%"
                }, {
<% if current_user.role >= User::ROLE_SUPER_MANAGER %>
                    mData: 'seller',
                    mRender: renderers.user,
                    sWidth: "10%"
                }, {
<% end %>
                    mData: 'last_payment.effective_months',
                    sWidth: "5%",
                }, {
                    mData: null,
                    mRender: renderers.lastPaymentAmount,
                    sWidth: "5%"
                }, {
                    mData: null,
                    mRender: renderers.lastPaymentDate,
                    sType: "date",
                    sWidth: "10%"
                }, {
                    mData: 'next_payment_date',
                    mRender: renderers.nextPaymentDate,
                    sWidth: "10%"
                }, {
                    mData: 'occupants_number',
                    sWidth: "5%"
                }, {
                    mData: 'last_message_at',
                    mRender: renderers.dateTimeFromUNIX,
                    sWidth: "15%"
            }]
    	});
    });
<% end %>

<table id="rooms" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><%=t 'Room Name' %></th>
      <th><%=t 'Room Owner' %></th>
<% if current_user.role >= User::ROLE_SUPER_MANAGER %>
      <th><%=t 'Contract Creator' %></th>
<% end %>
      <th><%=t 'Contract Period' %></th>
      <th><%=t 'Payment Amount' %></th>
      <th><%=t 'Payment Date' %></th>
      <th><%=t 'Next Date' %></th>
      <th><%=t 'Occupants' %></th>
      <th><%=t 'Last Message' %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
