<%= javascript_tag do %>
    var roomsData = <%=
	@rooms.map { |room|
		mapped = {}
		%w(buyer seller).each do |subject_type|
			subject = room.public_send subject_type
			mapped[subject_type] = {
				name: subject.name,
				role: subject.role,
				jid: subject.jid,
				id: subject.id,
			}
		end
		last_payment = Hash[%w(amount effective_from effective_months money_transfer_id).map do |last_payment_attribute|
			[last_payment_attribute, room.last_payment.public_send(last_payment_attribute)]
		end]
		mapped[:last_payment] = last_payment

		%w(id next_payment_date short_name active).each do |attr|
			mapped[attr] = room.public_send(attr)
		end

		mapped
	}.to_json.html_safe %>;

    $(document).ready(function() {
        var dataTable = setupDataTable({
            aaData: roomsData,
            aaSorting: [[6, 'asc']],
            fnRowCallback: function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                var cls = renderers.roomClass(aData.next_payment_date, aData.active);

                if (cls) {
                    $(nRow).addClass(cls + '_row');
                }
            },
<% if can? :create, Room %>
            buttonHtml: '<%=j link_to "Add room", new_room_path, class: "btn" %>',
<% end %>
            aoColumns: [{
                    mData: null,
                    mRender: renderers.roomShortName,
                    sWidth: "15%"
                }, {
                    mData: 'buyer',
                    mRender: renderers.user,
                    sWidth: "25%"
                }, {
<% if current_user.role >= User::ROLE_SUPER_MANAGER %>
                    mData: 'seller',
                    mRender: renderers.user,
                    sWidth: "10%"
                }, {
<% end %>
                    mData: 'last_payment.effective_months',
                    sWidth: "5%",
                }, {
                    mData: null,
                    mRender: renderers.lastPaymentAmount,
                    sWidth: "5%"
                }, {
                    mData: null,
                    mRender: renderers.lastPaymentDate,
                    sType: "date",
                    sWidth: "10%"
                }, {
                    mData: 'next_payment_date',
                    mRender: renderers.nextPaymentDate,
                    sWidth: "10%"
                }, {
                    mData: null,
                    sType: "numeric",
                    mRender: function(data, type, row) {
                        if (row.num_participants || row.num_participants === 0) {
                            return row.num_participants;
                        } else {
                            return type == "display" ? "N/A" : 0;
                        }
                    },
                    sWidth: "5%"
                }, {
                    mData: null,
                    sType: "numeric",
                    mRender: function(data, type, row) {
                        if (row.last_message_at) {
                            return renderers.dateTimeFromUNIX(row.last_message_at, type, row);
                        } else {
                            return type == "display" ? "N/A" : 0;
                        }
                    },
                    sWidth: "15%"
            }]
        });

        $.getJSON("/rooms.json", function(data, textStatus, xhr) {
            var tableData = dataTable.fnGetData();
            $.each(tableData, function(index, value) {
                var server_data = data[value.id];
                if (server_data) {
                    $.extend(value, server_data);
                    dataTable.fnUpdate(value, index, undefined, false, false);
                }
            });
            dataTable.fnDraw();
        });
    });
<% end %>

<table id="rooms" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><%=t 'Room Name' %></th>
      <th><%=t 'Room Owner' %></th>
<% if current_user.role >= User::ROLE_SUPER_MANAGER %>
      <th><%=t 'Contract Creator' %></th>
<% end %>
      <th><%=t 'Contract Period' %></th>
      <th><%=t 'Payment Amount' %></th>
      <th><%=t 'Payment Date' %></th>
      <th><%=t 'Next Date' %></th>
      <th><%=t 'Occupants' %></th>
      <th><%=t 'Last Message' %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
