<%= javascript_tag do %>
  var DEACTIVATED_EXPIRATION_DAYS = <%= RoomsController::DEACTIVATED_EXPIRATION_DAYS %>;
	var roomsData = <%=
		@rooms.to_json(
			include: [
				{ buyer: { only: [:name, :role, :jid, :id] } },
				{ seller: { only: [:name, :role, :jid, :id] } },
				{ last_payment: { only: [:amount, :effective_from, :effective_months, :money_transfer_id] } },
			],
			except: [:active, :updated_at, :comment, :seller_id, :buyer_id, :adhoc_data],
			methods: [:next_payment_date]).html_safe %>;
<% end %>

<table id="rooms" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><%=t 'Room Name' %></th>
      <th><%=t 'Room Owner' %></th>
      <th><%=t 'Contract Creator' %></th>
      <th><%=t 'First Appeared' %></th>
      <th><%=t 'Contract Period' %></th>
      <th><%=t 'Payment Amount' %></th>
      <th><%=t 'Payment Date' %></th>
      <th><%=t 'Next Date' %></th>
      <th><%=t 'Next Amount' %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
