<%= simple_form_for @room, html: { class: 'form-horizontal' }, remote: true do |f| %>
  <%= f.simple_fields_for :seller do |s| %>
    <%= s.input :name, label: 'Contract owner', readonly: true, input_html: { class: 'typeahead-user' } %>
  <% end %>
  <%= f.input :name, label: 'Room name', input_html: { class: 'room-name' } %>
  <%= f.simple_fields_for :buyer do |b| %>
    <%= b.input :name, label: 'Room owner', input_html: { class: 'typeahead-user', autocomplete: 'off' } %>
    <%= field_set_tag 'New user', style: ('display: none' if @room.buyer.name.blank? || !@room.buyer.new_record?) do %>
      <p>This user does not exist. Please provide more information to create a new one:</p>
      <%= b.input :jid %>
      <%= b.input :phone %>
    <% end %>
  <% end %>
  <%= f.input :comment, input_html: { rows: 4 } %>
  <%= field_set_tag 'First payment' do %>
    <%= f.simple_fields_for :payments do |p| %>
      <%= p.input :amount, label: 'Payment amount' %>
      <%= p.simple_fields_for :money_transfer do |mt| %>
        <%= mt.input :received_at, input_html: { class: 'date' }, as: :string %>
      <% end %>
      <%= p.input :effective_months, label: 'Months' %>
    <% end %>
  <% end %>
  <%= f.submit class: 'btn btn-primary controls', data: { disable_with: 'Saving...' } %>
<% end %>
