<% unless @room.active %>
	<h4>This room is disabled (at <%= @room.deactivated_at %> by <%= @room.deactivated_by %>)</h4>
<% end %>

<table cellpadding="5px">
	<tr>
		<td>Name: <%= @room.name %></td>
		<td>
			Backup: <%= Hash === @room.adhoc_data ? (@room.adhoc_data['dumped_at'] or 'saved') : 'not saved' %>
<% if Hash === @room_info && @room_info.any? %>
			<%= link_to Hash === @room.adhoc_data ? 'Update' : 'Save', store_room_adhoc_data_path(@room), class: 'btn' %>
<% end %>
<% if Hash === @room.adhoc_data %>
			<%= link_to 'Preview', room_backup_view_path(@room), class: 'btn' %>
<% end %>
		</td>
	</tr>
	<tr>
		<td>Room Owner: <%= link_to @room.buyer, @room.buyer %></td>
		<td>Contract Creator: <%= link_to @room.seller, @room.seller %></td>
	</tr>
	<tr>
		<td>Created: <%= @room.created_at %></td>
		<td>Updated: <%= @room.updated_at %></td>
	</tr>
<% if @room.last_payment %>
	<tr>
		<td>Last payment: <%= link_to @room.last_payment, @room.last_payment.money_transfer %></td>
		<td>Next payment: <%= @room.next_payment_date.to_date %></td>
	</tr>
<% end %>
</table>

<% if @room.comment.present? %>
	<p>Comment: <%= @room.comment %>
<% end %>

<% if @room.active %>
<div class="btn-toolbar">
<%= link_to 'Receive money transfer for this contract', new_money_transfer_path(sender_id: @room.buyer, receiver_id: current_user, contract_id: @room.id), class: 'btn' %>
<%= link_to 'Edit room', edit_room_path(@room),
	rel: 'tooltip',
	title: 'Transfer room without destroying',
	class: 'btn' %>
<%= link_to 'Disable this contract', @room,
	class: 'btn btn-danger',
	rel: 'tooltip',
	title: 'Destroy the room and mark this contract as disabled',
	confirm: 'Are you sure you want to disable this contract?',
	method: :delete %>
</div>
<% end %>

<% if @room.payments.any? %>
	<p>Money transfer history:</p>
	<ul>
<%   @room.payments.sort_by(&:effective_from).reverse_each do |p| %>
	<li>&nbsp;&nbsp;<%= link_to p, p.money_transfer %></li>
<%   end %>
	</ul>
<% end %>

<%= render partial: 'info' %>
