<% unless @room.active %>
	<h4>This room is disabled</h4>
<% end %>

<pre>
Name: <%= @room.name %>
Room Owner: <%= link_to @room.buyer.name, @room.buyer %>
Contract Creator: <%= link_to @room.seller.name, @room.seller %>
Duration (months): <%= @room.last_payment.try(:effective_months) %>
Comment: <%= @room.comment || '(no comment)' %>
<% if @room.last_payment %>
Last payment: <%= link_to @room.last_payment, @room.last_payment.money_transfer %>
Next payment: <%= @room.next_payment_date.to_date %>
<% end %>
Occupants: <%= @room.occupants_number || 'room does not exist' %>
</pre>

<% if @room.active %>
<%= link_to 'Receive money transfer for this contract', new_money_transfer_path(sender_id: @room.buyer, receiver_id: current_user, contract_id: @room.id), class: 'btn' %>
<%= link_to 'Edit room', edit_room_path(@room), class: 'btn' %>
<%= link_to 'Delete this contract', @room, class: 'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
<% end %>

<% if @room.payments.any? %>
	<br/>Money transfer history:
<% @room.payments.sort_by(&:created_at).reverse_each do |p| %>
	<br/><%= link_to p, p.money_transfer %>
<% end %>
<% end %>
