<% unless @room.active %>
	<h4>This room is disabled (at <%= @room.deactivated_at %> by <%= @room.deactivated_by %>)</h4>
<% end %>

<pre>
Room:
	Name: <%= @room.name %>
	Room Owner: <%= link_to @room.buyer.name, @room.buyer %>
	Contract Creator: <%= link_to @room.seller.name, @room.seller %>
	Duration (months): <%= @room.last_payment.try(:effective_months) %>
	Comment: <%= @room.comment || '(no comment)' %>
	Ad-hoc data: <%= @room.adhoc_data ? @room.adhoc_data.class : 'not present' %>
	Created: <%= @room.created_at %> 
	Updated: <%= @room.updated_at %>
<% if @room.last_payment %>
Last payment: <%= link_to @room.last_payment, @room.last_payment.money_transfer %>
Next payment: <%= @room.next_payment_date.to_date %>
<% end %>
</pre>

<% if @room.active %>
<%= link_to 'Receive money transfer for this contract', new_money_transfer_path(sender_id: @room.buyer, receiver_id: current_user, contract_id: @room.id), class: 'btn' %>
<%= link_to 'Edit room', edit_room_path(@room), class: 'btn' %>
<%= link_to 'Disable this contract', @room,
	class: 'btn btn-danger',
	confirm: 'Are you sure you want to disable this contract?',
	method: :delete %>
<% end %>

<% if @room.payments.any? %>
	<br/>Money transfer history:
<% @room.payments.sort_by(&:effective_from).reverse_each do |p| %>
	<br/><%= link_to p, p.money_transfer %>
<% end %>
<br/><br/>

<% if Integer === @room_info %>
Room does not exist (code <%= @room_info %>)
<% elsif @room_info %>
<pre>
Participants: <%= @room_info['num_participants'] %>
Last Message: <%
time = Time.parse("#{@room_info['last_message_at']} +0000") rescue Time.at(0)
%><%= time.utc %> (<%= time_ago_in_words(time) %> ago)
Subject (author: <%= @room_info['subject_author'] %>):
<%= @room_info['subject'] %>
</pre>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Configuration (<%= @room_info['config'].size %>)
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th><%=t 'Key' %></th>
							<th><%=t 'Value' %></th>
						</tr>
					</thead>
					<tbody>
						<% @room_info['config'].each do |key, value| %>
						<tr>
							<td><%= key %></td>
							<td><%= value %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Affiliations (<%= @room_info['affiliations'].size %>)
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
				<table class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th><%=t 'User' %></th>
							<th><%=t 'Domain' %></th>
							<th><%=t 'Affiliation' %></th>
							<th><%=t 'Reason' %></th>
						</tr>
					</thead>
					<tbody>
						<% @room_info['affiliations'].each do |hash| %>
							<tr>
							<% hash.each do |key, value| %>
							<td><%= value %></td>
							<% end %>
							</tr> 
						<% end %>
					</tbody>
				</table>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Occupants (<%= @room_info['users'].size %>)
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
				<table class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th><%=t 'JID' %></th>
							<th><%=t 'Nick' %></th>
							<th><%=t 'Role' %></th>
						</tr>
					</thead>
					<tbody>
						<% @room_info['users'].each do |hash| %>
							<tr>
							<% hash.each do |key, value| %>
							<td><%= value %></td>
							<% end %>
							</tr> 
						<% end %>
					</tbody>
				</table>
      </div>
    </div>
  </div>
</div>

<% end %>

<% end %>
