<% unless @room.active %>
	<h4>This room is disabled</h4>
<% end %>

<pre>
Room:
	Name: <%= @room.name %>
	Room Owner: <%= link_to @room.buyer.name, @room.buyer %>
	Contract Creator: <%= link_to @room.seller.name, @room.seller %>
	Duration (months): <%= @room.last_payment.try(:effective_months) %>
	Comment: <%= @room.comment || '(no comment)' %>
	Created: <%= @room.created_at %> 
	Updated: <%= @room.updated_at %>
<% if @room.last_payment %>
Last payment: <%= link_to @room.last_payment, @room.last_payment.money_transfer %>
Next payment: <%= @room.next_payment_date.to_date %>
<% end %>
</pre>

<% if @room.active %>
<%= link_to 'Receive money transfer for this contract', new_money_transfer_path(sender_id: @room.buyer, receiver_id: current_user, contract_id: @room.id), class: 'btn' %>
<%= link_to 'Edit room', edit_room_path(@room), class: 'btn' %>
<%= link_to 'Delete this contract', @room, class: 'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
<% end %>

<% if @room.payments.any? %>
	<br/>Money transfer history:
<% @room.payments.sort_by(&:effective_from).reverse_each do |p| %>
	<br/><%= link_to p, p.money_transfer %>
<% end %>
<br/><br/>

<% if Integer === @room_info %>
Room does not exist (code <%= @room_info %>)
<% elsif @room_info %>
<pre>
Participants: <%= @room_info['num_participants'] %>
Last Message: <%= Time.parse("#{@room_info['last_message_at']} +0000").utc %>
</pre>

<p>Configuration:
<table id="config" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
	<thead>
		<tr>
			<th><%=t 'Key' %></th>
			<th><%=t 'Value' %></th>
		</tr>
	</thead>
	<tbody>
		<% @room_info['config'].each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</p>
<p>Affiliations:
<table id="affiliations" class="table table-bordered table-condensed" cellpadding="0" cellspacing="0" border="0">
	<thead>
		<tr>
			<th><%=t 'User' %></th>
			<th><%=t 'Domain' %></th>
			<th><%=t 'Affiliation' %></th>
			<th><%=t 'Reason' %></th>
		</tr>
	</thead>
	<tbody>
		<% @room_info['affiliations'].each do |hash| %>
			<tr>
			<% hash.each do |key, value| %>
			<td><%= value %></td>
			<% end %>
			</tr> 
		<% end %>
	</tbody>
</table></p>
<% end %>

<% end %>
