<ul class="nav">
  <li>
    <%= link_to 'Rooms', rooms_path %>
  </li>
  <li>
    <%= link_to 'Money Transfers', money_transfers_path %>
  </li>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
  <li>
  	<%= link_to 'Announcements', announcements_path %>
  </li>
  <% if current_user.role >= User::ROLE_SUPER_MANAGER %>
  <li>
    <%= link_to 'Sync', ejabberd_sync_path %>
  </li>
  <li>
    <%= link_to 'Activity', activities_path %>
  </li>
  <li>
    <%= link_to 'Statistics', statistics_income_path %>
  </li>
  <% end %>
</ul>
<ul class="nav pull-right">
  <li>
    <p class="navbar-text">
      <%=t 'Welcome' %>, <%= link_to current_user, current_user %> [<%= I18n.locale %>]
      (A: <%= Announcement.untracked(current_user).count %>)
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </p>
  </li>
</ul>
