<ul class="nav">
  <li>
    <%= link_to 'Rooms', rooms_path %>
  </li>
  <li>
    <%= link_to 'Money Transfers', money_transfers_path %>
  </li>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
  <% if current_user.role >= User::ROLE_MANAGER %>
  <li>
    <%= link_to 'Add room', new_room_path %>
  </li>
  <li>
    <%= link_to 'Sync', ejabberd_sync_path %>
  </li>
  <li>
  	<%= link_to 'Announce', new_announcement_path %>
  </li>
  <% end %>
  <% if current_user.role >= User::ROLE_SUPER_MANAGER %>
  <li>
    <%= link_to 'Activity', activities_path %>
  </li>
  <li>
    <%= link_to 'Statistics', statistics_income_path %>
  </li>
  <% end %>
</ul>
<ul class="nav pull-right">
  <li>
    <p class="navbar-text">
      <%=t 'Welcome' %>, <%= link_to current_user, '/users/home' %> [<%= I18n.locale %>]
	    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </p>
  </li>
</ul>
