<!DOCTYPE html>
<html>
<head>
  <title>JabberCTS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

USER: <%= link_to current_user, '/users/home' %> LOCALE: <%= I18n.locale %>

<%= yield %>

</body>
</html>
