<!DOCTYPE html>
<html>
<head>
  <title>JabberCTS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </div>
<% if flash[:error] %>
	<div style="color: red"><%= flash[:error] %></div>
<% end %>

<%= yield %>

</body>
</html>
